<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="michael khalaf">
    <meta http-equiv="refresh" content="900">
    <link rel="icon" type="image/x-icon" href="../assists/media/logos/TFT.png">
    <title>TFT TEAM</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.min.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assists/css/style.css">
    <link rel="stylesheet" href="../assists/media-q/media-q.css">
    <link rel="stylesheet" href="../assists/animation/animation.css">
    <!-- =======================================================
    * Author: Michael khalaf
    ======================================================== -->
</head>

<body class="">
    <!--============== fixed-logo start ===============-->
    <a href="#" class="fixed-logo"></a>
    <div class="fixed-logo-a"></div>
    <!--!============== fixed-logo end ===============-->
    <!-- =============== nav-srart ===================-->
    <nav class="navbar navbar-expand-lg fixed-top pt-4 pb-5 nav-container">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../assists/media/logos/TFT.gif" alt="logo"
                    class="header-logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <h2 class="text-primary me-5 mt-2">TFT t<span class="name-span">eam</span>
            </h2>
            <div class="collapse navbar-collapse text-center ms-5" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll ms-5" style="--bs-scroll-height: 100px;">
                    <li class="nav-item mx-5 header-links">
                        <a class="nav-link scrollto text-light active" href="#join">Join our team</a>
                    </li>
                    <li class="nav-item mx-5 header-links">
                        <a class="nav-link scrollto text-light" href="#Founders">Founders</a>
                    </li>
                    <li class="nav-item mx-5 header-links">
                        <a class="nav-link scrollto text-light" href="#previous-works">previous works</a>
                    </li>
                    <!-- <li class="nav-item mx-3 header-links">
                        <a class="nav-link scrollto text-light" href="../view/log-in.html">LOG IN</a>
                    </li>
                    <li class="nav-item mx-3 header-links bg-primary">
                        <a class="nav-link scrollto text-light" href="../view/sign-up.html">SIGN UP</a>
                    </li> -->
                </ul>
                <form class="d-none d-xl-flex col-4" role="search">
                    <input class="form-control me-2 border-primary" type="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!--! =============== nav-end ===================-->
    <!-- ===============  header  ===================-->
    <div class="header-container"></div>
    <header class="container-fluid" id="join">
        <div class="row header-row">
            <video class="col-12 video-xl" autoplay muted loop id="myVideo1">
                <source src="../assists/media/videos/header1.mp4" type="video/mp4">
            </video>
            <div class="hero" data-aos="fade-up">
                <h1>
                    TFT TEAM
                </h1>
                <h3>Life isn't about waiting for the storm to pass.<br> It's about learning to dance in the rain.</h3>
                <a class="m-2 btn btn-primary join-btn ms-0"
                    href="https://surveyheart.com/form/63f8023fd19fea075fd97a54" target="_blank">Join our team</a>
            </div>
            <video class="col-12 video-sm" autoplay muted loop id="myVideo2">
                <source src="../assists/media/videos/header2.mp4" type="video/mp4">
            </video>
        </div>
    </header>
    <!--! ===============  header  ===================-->
    <!-- =============== section 1 ===================-->
    <section class="container">
        <div class="row my-5 sec-1-row justify-content-center">
            <img src="../assists/media/img/sec-1.png" alt="dancer" class="col-xl-3 col-lg-3 col-md-3 col-3"
                data-aos="fade-right">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-xl-5 mt-md-5 ms-xl-5 text-sec-1 mb-2" data-aos="fade-left">
                <h1 class="text-primary text-xl-start text-center m-0">
                    who we are ?!.
                </h1>
                <h4 class="text-light m-0 text-xl-start text-center">
                    We are a contemporary dance team consisting of three theatrical choreographers. We love dancing of
                    all kinds. We started
                    to form a team to start a dance theatrical show to achieve success together. If you want to join us,
                    click on the button
                    above.
                </h4>

            </div>
        </div>
    </section>
    <!--! =============== section 1 ===================-->
    <!-- =============== section 2 ===================-->
    <section class="container-fluid sec-2" id="Founders">
        <h1 class="text-primary text-center m-2">
            Founders.
        </h1>
        <div class="row justify-content-center">
            <div class="card m-3 text-bg-primary col-xl-3 col-lg-3 col-md-3 col-8" data-aos="fade-right">
                <img src="../assists/media/img/founder1.png" class="card-img-top" alt="tadros">
                <div class="card-body">
                    <p class="card-text text-center">
                        Tadros Michael
                    </p>
                </div>
            </div>
            <div class="card m-3 text-bg-primary col-xl-3 col-lg-3 col-md-3 col-8" data-aos="zoom-in">
                <img src="../assists/media/img/founder2.png" class="card-img-top" alt="fady">
                <div class="card-body">
                    <p class="card-text text-center">Fady Michael</p>
                </div>
            </div>
            <div class="card m-3 text-bg-primary col-xl-3 col-lg-3 col-md-3 col-8" data-aos="fade-left">
                <img src="../assists/media/img/founder3.png" class="card-img-top" alt="tony">
                <div class="card-body">
                    <p class="card-text text-center">Antonius Samy</p>
                </div>
            </div>
        </div>
    </section>
    <!--! =============== section 2 ===================-->
    <!-- =============== section 3 ===================-->
    <section class="container mt-5" id="previous-works">
        <h1 class="text-primary text-center m-4">
            previous works.
        </h1>
        <div class="row">
            <video class="col-md-6 my-3 col-xl-4 col-12" data-aos="zoom-in" controls>
                <source src="../assists/media/videos/1.mp4" type="video/mp4">
            </video>
            <video class="col-md-6 my-3 col-xl-4 col-12" data-aos="zoom-in" controls>
                <source src="../assists/media/videos/2.mp4" type="video/mp4">
            </video>
            <video class="col-md-6 my-3 col-xl-4 col-12" data-aos="zoom-in" controls>
                <source src="../assists/media/videos/3.mp4" type="video/mp4">
            </video>
            <video class="col-md-6 my-3 col-xl-4 col-12" data-aos="zoom-in" controls>
                <source src="../assists/media/videos/4.mp4" type="video/mp4">
            </video>
            <video class="col-md-6 my-3 col-xl-4 col-12" data-aos="zoom-in" controls>
                <source src="../assists/media/videos/5.mp4" type="video/mp4">
            </video>
            <video class="col-md-6 my-3 col-xl-4 col-12" data-aos="zoom-in" controls>
                <source src="../assists/media/videos/6.mp4" type="video/mp4">
            </video>
        </div>
    </section>
    <!-- <div class="container-fluid">
        <div class="row justify-content-center">
            <audio controls preload="auto" autoplay class="col-6 m-2">
                <source src="../assists/media/audios/yt1s.com - Tones and I  Dance Monkey Lyrics.mp3" type="audio/ogg">
                <source src="../assists/media/audios/yt1s.com - Tones and I  Dance Monkey Lyrics.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div> -->

    <!--! =============== section 3 ===================-->
    <!-- =============== footer ===================-->
    <footer class="container-fluid footer-div">
        <div class="row">
            <div class="col-12 d-flex mt-5">
                <div class="col-6 footer-links my-5" data-aos="zoom-in-right">
                    <a href="#" class="text-primary m-3">HOME</a>
                    <a href="#join" class="text-primary m-3">join our team</a>
                    <!-- <a href="../view/sign-up.html" class="text-primary m-3">SIGN UP</a> -->
                </div>
                <div class="col-6 footer-links mt-5" data-aos="zoom-in-left">
                    <a href="#Founders" class="text-primary m-3">Founders</a>
                    <a href="#previous-works" class="text-primary m-3">previous-works</a>
                    <!-- <a href="../view/log-in.html" class="text-primary m-3">LOG IN</a> -->
                </div>
            </div>
            <div class="col-xl-5 col-md-4 col-2"></div>
            <div class="text-center col-xl-2 col-md-4 col-8" data-aos="fade-up">
                <img src="../assists/media/img/me.jpg" alt="me" class="col-xl-4 col-lg-5 col-md-6 col-6 rounded-5"
                    data-aos="flip-left">
                <h6 class="m-1 text-primary">Michael Khalaf</h6>
                <h6 class="m-1 text-primary">FRONT END DEVELOPER</h6>
                <h6 class="m-1 text-primary">phone:+20 127 455 0956</h6>
            </div>
            <div class="col-xl-5 col-md-4 col-2"></div>
            <div id="footer">
                <div class="container">
                    <h4 class="credits m-3">
                        &copy; Copyright <span class="text-primary">TFT TEAM</span>
                        Designed by
                        <a
                            href="http://michaelkhalaf100.ml/?i=2&fbclid=IwAR0SwUF4dsSNK_rcS2pNC-0a_7XGectG2Xlw5Juzp5vfSpzj-p7h6Jj1qFo">Michael
                            Khalaf
                        </a>
                    </h4>
                </div>
            </div>
        </div>

    </footer>
    <!--! =============== footer ===================-->

    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.8/typed.min.js"></script>
    <script src="../assists/js/js.js"></script>
</body>

</html>