<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="michael khalaf">
    <meta http-equiv="refresh" content="900">
    <link rel="icon" type="image/x-icon" href="../assists/media/logos/TFT.png">
    <title>TFT TEAM</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assists/css/style.css">
    <link rel="stylesheet" href="../assists/media-q/media-q.css">
    <link rel="stylesheet" href="../assists/animation/animation.css">
    <!-- =======================================================
    * Author: Michael khalaf
    ======================================================== -->
</head>

<body class="m-0">
    <header class="container-fluid" id="join">
        <div class="row header-row">
            <video class="col-12 video-xl" autoplay muted loop id="myVideo1">
                <source src="../assists/media/videos/header1.mp4" type="video/mp4">

            </video>
            <div class="row hero m-0 justify-content-center" data-aos="fade-up">
                <form class="col-xl-6 col-lg-6 col-md-6 col-10">
                    <input type="email" class="form-control my-3" id="inputEmail3" placeholder="Email">
                    <input type="password" class="form-control my-3" id="inputPassword3" placeholder="Password">
                    <div class="form-check d-flex justify-content-start">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Remember me
                        </label>

                    </div>
                    <button type="submit" class="btn btn-primary my-2">log in</button>
                    <a href="../view/sign-up.html" class="btn btn-outline-primary d-block" style="width:140px;">new
                        here</a>
                </form>
            </div>
            <video class="col-12 video-sm" autoplay muted loop id="myVideo2">
                <source src="../assists/media/videos/header2.mp4" type="video/mp4">
            </video>
        </div>
    </header>


    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.8/typed.min.js"></script>
    <script src="../assists/js/js.js"></script>
</body>

</html>
</body>