/** ===================================================
Author: Michael khalaf
=================================================== **/

/** ================ fixed-logo ============= **/
@keyframes fixed-logo {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(20deg);
    }

    20% {
        transform: rotate(-100deg);
    }

    30% {
        transform: rotate(6deg);
    }

    40% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(-360deg);
    }

    60% {
        transform: rotate(1000deg);
    }

    70% {
        transform: rotate(-50deg);
    }

    80% {
        transform: rotate(180deg);
    }

    90% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(1080deg);
    }
}

/**! ================ fixed-logo ============= **/